.image {
    display: block;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;

    &-small {
        width: 25%;
    }

    &-normal {
        width: 50%;
    }

    &-big {
        width: calc(100% - 24px);
    }

    &-admin {
        text-align: center;
    }
}
