@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,600,600i');

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; // Set master font for app
    overflow-x: hidden;
}

// Default stylesheet: https://www.w3.org/TR/CSS2/sample.html
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

